PORT = 80
QRCODES_COUNT = 100
QRCODE_FILE_PREFIX = ''
QRCODES_PATH = './qrCodes'
QRCODES_TEXT_TEMPLATE = f'http://localhost:{PORT}/?t='
DB_FILENAME = 'qrcode_uuids.db'
DB_UUID_TABLE_NAME = 'tickets'
QRCODES_FILL_COLOR = (30, 30, 28)
QRCODES_BG_COLOR = (254, 183, 181)
QRCODES_BORDER_SIZE = 2
QRCODES_BOX_SIZE = 128
LOG_PATH = 'log.log'
GENERATION_CODE = ''
COOKIES_KEY = b''
VALIDATORS_LIST = ['seller', 'validator1']
VALIDATORS_PASS_LIST = ['pass1', 'pass2']